$primary: #1650b0;
$secondary: linear-gradient(0deg, #011938 0%, #011938 100%), #1a1737;
$tertiary: #235193;
$quaternary-color: #1a1737;
$quinary-color: #0082ce;
$senary-color: #344c5c;
$septenary-color: #74838b;
$black: #000;
$white: #fff;
