.hex_custom_container {
  width: 88%;
  margin: 0 auto;
  max-width: 1300px;
}
.sec-title {
  // font-size: 42px;
  line-height: 1.2;
  font-weight: var(--hex_font_extrabold);
}
.sec-text {
  // font-size: 18px;
  line-height: 24px;
}
