.hex_custom_container {
  width: 88%;
  margin: 0 auto;
  max-width: 1300px;
}
.sec-title {
  // font-size: 42px;
  line-height: 1.2;
  font-weight: var(--hex_font_extrabold);
}
.sec-text {
  // font-size: 18px;
  line-height: 24px;
}

/* For larger screens: Keep Accordion open and unclickable */
@media (min-width: 769px) {
  .desktop-accordion-open .accordion-item .accordion-button {
    pointer-events: none; /* Disable clicking */
  }

  .desktop-accordion-open .accordion-item .accordion-collapse {
    display: block !important; /* Keep the Accordion always open */
  }
}

/* Default behavior for mobile devices: Accordion is clickable */
@media (max-width: 768px) {
  .desktop-accordion-open .accordion-item .accordion-button {
    pointer-events: auto; /* Enable clicking */
  }

  .desktop-accordion-open .accordion-item .accordion-collapse {
    // display: none; /* Allow default collapse behavior */
  }
}
