.hex_header {
  .blackLogo {
    display: none;
  }
  .whiteLogo {
    display: block;
  }
  .navbar-toggler {
    border: 1px solid white;
    background-color: white;
  }
  &.active {
    background-color: white;
    border-bottom: 1px solid #80808061;
    .nav-link {
      color: black !important;
    }
    .hex_header__hex_top_nav_list li {
      color: black !important;
    }
    .hex_header__hex_top_nav_list button {
      color: black !important;
    }
    .blackLogo {
      display: block;
    }
    .whiteLogo {
      display: none;
    }
  }
  &__hex_top_nav_list {
    margin: 0rem;
    padding: 0rem;
    list-style: none;
    .demo-nav {
      button {
        background-color: unset;

        border: unset;
        outline: unset;
        padding: unset;
      }
    }
  }
  .offcanvas-lg {
    width: 100%;
  }
  .nav__item {
    width: 100%;
    .nav {
      margin-bottom: 0;
    }
    .dropdown {
      position: static;
    }
    .dropdown-menu {
      width: 100%;
      text-align: center;
    }
    .dropdown-menu > li {
      display: inline-block;
    }
    .dropdown-menu.show::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 78%;
      top: 11%;
      left: 0;
      z-index: 1;
      background-color: red;
      opacity: 0.15;
      -webkit-transition: none;
      transition: none;
    }
  }
  &__trialBtn {
    background-color: var(--red);
    color: var(--background);
  }

  .nav-link {
    color: var(--background) !important;
  }
  &__hex_top_nav_list {
    li {
      color: var(--background) !important;
    }
  }

  .hex_header__hex_top_nav {
    @media ($upto-medium) {
      display: none;
    }
  }
}

.offcanvas-body {
  .navbar-nav {
    @media ($upto-medium) {
      margin-bottom: 3rem;
    }
  }
  .nav__item {
    @media ($upto-medium) {
      flex-direction: column;
    }
    .dropdown-menu {
      border: unset !important;
    }
    .nav-link {
      @media ($upto-medium) {
        border-bottom: 2px solid #80808029 !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}

.menu_count {
  margin: 0 auto;
  .dropdown-item {
    white-space: pre-wrap !important;
    border-bottom: 2px solid #80808029 !important;
    &:hover {
    }
  }
}
