.banner {
  .banner_btn {
    @media ($mobile) {
      flex-direction: column;
      align-items: center;
    }
    a {
      width: 100%;
    }
  }
  .banner_info {
    @media ($upto-medium) {
      text-align: center;
    }
  }
}

.research-service {
  &__item_wrapper {
    opacity: 0.6;
    a {
      color: var(--background);
      &:nth-child(1) {
        img {
          width: 85px;
        }
      }
      &:nth-child(2) {
        @media ($upto-small) {
          margin-top: 1rem;
          margin-bottom: 1rem;
          display: block;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 40%;
            background-color: var(--background);
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
          }
          &::before {
            content: "";
            position: absolute;
            height: 1px;
            width: 40%;
            background-color: var(--background);
            top: auto;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        img {
          width: 110px;
        }
      }
      &:nth-child(3) {
        img {
          width: 156px;
        }
      }
      &:nth-child(2) {
        border-left: 1px solid #ffffff66;
        border-right: 1px solid #ffffff66;
        @media ($upto-small) {
          border-left: 0px solid #ffffff66;
          border-right: 0px solid #ffffff66;
        }
      }
    }
  }
  &__item {
    @media ($upto-small) {
      max-width: 350px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

.solutionGrid-excel {
  &__wrapper {
    h3 {
      color: var(--hex_home_common_title_color);
    }
    button {
      color: var(--light-gray);
    }
  }
  &__item {
    cursor: pointer;
    transition: all 2s;
    &:hover {
      .item_info {
        transform: translateY(-4px);
        transition: all 0.5s;
      }
    }
  }
}

.multiTab {
  &__wrapper {
    .nav-tabs {
      .nav-link {
        color: var(--hex_home_form_text_color_dark);
        font-size: 20px;
        padding-left: 3rem;
        padding-right: 3rem;
        border: unset;
        @media ($mobile) {
          font-size: 12px;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
        @media ($small) {
          font-size: 16px;
          padding-left: 2rem;
          padding-right: 2rem;
        }
        @media ($medium) {
          font-size: 16px;
          padding-left: 2rem;
          padding-right: 2rem;
        }
        @media ($large) {
          font-size: 16px;
          padding-left: 2rem;
          padding-right: 2rem;
        }
        &.active {
          border-bottom: 2px solid var(--blue);

          color: var(--blue);
        }
      }
    }
    .tabNav_menu {
      margin-bottom: 4rem !important;
      max-width: 673px;
      margin: 0 auto;
      @media ($upto-medium) {
        max-width: 500px;
      }
    }
    .swiper-button-prev {
      right: 6.5rem;
      left: auto;
      top: auto;
      bottom: 2rem;
      @media ($upto-small) {
        // right: 11.5rem;
        left: 53%;
        transform: translateX(-53%);
      }
      &:after {
        font-size: 0px;
        position: absolute;
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid black;
        background-image: url("/images/linear-arrow-disabled.svg");
        border-radius: 100%;
        background-size: auto;
      }
    }
    .swiper-button-next {
      right: 3rem;
      bottom: 2rem;
      top: auto;
      @media ($upto-small) {
        right: 53%;
        transform: translateX(-53%);
      }

      &::after {
        font-size: 0px;
        position: absolute;
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: black;
        transform: translate(0%, 0%) rotate(180deg);
        background-image: url("/images/linear-arrow.svg");
        border-radius: 100%;
        background-size: auto;
      }
    }
  }
}

.testimonial_modal {
  .modal-content {
    position: relative;
    // min-height: 500px;
    .modal-header {
      position: absolute;
      right: -15px;
      top: -38px;
      z-index: 1;
      border: unset;
    }
  }
}

.case-studies {
  &__wrapper {
    position: relative;
    .case_studies_hover {
      opacity: 0;
      transition: all 0.4s cubic-bezier(0.43, 0.27, 0.39, 0.88);
    }
    &:hover {
      .thumbImage {
        filter: blur(5px);
        transition: all 0.3s cubic-bezier(0.25, 0.5, 0.75, 1);
      }
      .case-studies__image {
        &:after {
          content: "";
          // display: block;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          position: absolute;
          z-index: 0;

          -webkit-transition: all 0.4s cubic-bezier(0.43, 0.27, 0.39, 0.88);
          -moz-transition: all 0.4s cubic-bezier(0.43, 0.27, 0.39, 0.88);
          -ms-transition: all 0.4s cubic-bezier(0.43, 0.27, 0.39, 0.88);
          -o-transition: all 0.4s cubic-bezier(0.43, 0.27, 0.39, 0.88);
          transition: all 0.4s cubic-bezier(0.43, 0.27, 0.39, 0.88);
        }
      }
      .case_studies_hover {
        opacity: 1;
        transition: all 0.4s cubic-bezier(0.43, 0.27, 0.39, 0.88);
      }
    }
    .case_studies_hover_item {
      &.first_item {
        &::after {
          position: absolute;
          content: "";
          width: 50%;
          height: 3px;
          background-color: white;
          bottom: 0rem;
          left: auto;
        }
      }
    }
  }
}

.webinar {
  &__speaker {
    @media ($upto-small) {
      width: 100%;
      text-align: center;
      justify-content: center;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
  }
}

.signup_bottom {
  button {
    border-radius: 0.25rem !important;
  }
  .input_item {
    border-radius: 0.25rem !important;
    @media ($upto-small) {
      width: 100%;
    }

    .form-control {
      padding: 1.1rem 0.75rem;
      border-radius: 0.25rem !important;
    }
  }
  a {
    max-width: 280px;
    @media ($upto-small) {
      width: 100%;
    }
  }
}
